<div class="occurrence-card <%= 'past' if local_assigns[:past] %>">
  <%= link_to group_event_event_occurrence_path(@group.slug, @event, occurrence) do %>
    <div class="occurrence-time">
      <span class="date"><%= occurrence.start_time.strftime("%B %d, %Y") %></span>
      <span class="time"><%= occurrence.start_time.strftime("%l:%M %p") %> - <%= occurrence.end_time.strftime("%l:%M %p") %></span>
    </div>
    <% if occurrence.location.present? %>
      <div class="occurrence-location"><%= occurrence.location %></div>
    <% end %>
    <div class="occurrence-meta">
      <span><%= pluralize(occurrence.rsvps.where(status: 'attending').count, 'attendee') %></span>
      <% if occurrence.max_attendees.present? %>
        <span>Max: <%= occurrence.max_attendees %></span>
      <% end %>
      <span class="badge badge-<%= occurrence.status %>"><%= occurrence.status.titleize %></span>
    </div>
  <% end %>
</div>
