<div class="group-form">
  <h1>Edit Group</h1>

  <%= form_with model: @group, local: true do |f| %>
    <% if @group.errors.any? %>
      <div class="error-messages">
        <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>
        <ul>
          <% @group.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, required: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, rows: 4, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :avatar_url, "Avatar URL (optional)" %>
      <%= f.text_field :avatar_url, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :is_private, "Make this group private" %>
      <%= f.check_box :is_private %>
    </div>

    <div class="form-actions">
      <%= f.submit "Update Group", class: "btn btn-primary" %>
      <%= link_to "Cancel", group_path(@group.slug), class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
